* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    /* To prevent address bar from hiding on mobile browsers, which would have caused the background image on homepage to resize on scroll */
      /* https://stackoverflow.com/a/61683565/11528872 */
    position: absolute;
    top: 0.1px;
    left: 0;
    right: 0;
    bottom: 0.5px;
    overflow-x: hidden;
    overflow-y: auto;   
}   
body {
    color: white;
    font-family: 'Poppins', sans-serif;
}
p {
    overflow-wrap: break-word;    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    padding: 3rem 2rem 0;    
}

                            /* Landing Section */
.landingContainer {       
    background-image: linear-gradient(#9599E2 0%, #8BC6EC 100%);
        /* https://cssgradient.io/gradient-backgrounds/ */  
    min-height: calc(var(--vh, 1vh) * 100);
    padding: 2rem;           
}
.landingContainer img {
    width: calc(var(--vh, 1vh) * 26);
    height: auto;

    border-radius: 40%;
    margin-bottom: calc(var(--vh, 1vh) * 11);
}
.landingContainer h1 {
    margin: calc(var(--vh, 1vh) * 2) 0;
    font-size: calc(var(--vh, 1vh) * 6);
}
.landingContainer h2 {
    font-size: calc(var(--vh, 1vh) * 4.5);
    font-weight: 200;    
}
@media only screen and (min-width: 600px) {
    .landingContainer {
        flex-direction: row;
        justify-content: space-around;        
    }       
    .landingContainer img {
        margin-bottom: initial;
    }
}
@media only screen and (min-width: 768px) {
    .landingContainer img {
        width: 30%;
        max-width: 18rem;  
    }
    .landingContainer h1 {
        margin: 1.5rem 0;
    }    
}
@media only screen and (min-width: 1140px) {    
    .landingContainer h1 {
        font-size: 3rem;
    }    
    .landingContainer h2 {
        font-size: 2.5rem;
    }
}

                        /* 'My Work' Section */
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 1.7rem;
}
                        
.myWorkContainer {     
    background-image: linear-gradient(#8BC6EC 0%, #fbbb67 100%);             
    padding-bottom: 5rem;
}                                
.myWorkContainer > div {
    display: grid;
    gap: 5rem;

    margin-top: 5rem;
}
.myWorkContainer > div img {    
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.myWorkContainer > div h4 {
    margin-top: 1rem;    
}
.myWorkContainer > div p {    
    margin-top: 1.5rem;    
}
.techUsed {
    font-weight: 200;    
}
.linkButton {
    display: inline-block;
    margin-top: 2rem;
    padding: .8rem 2rem;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s; 
    background-color: white;
    color: #449fdb;
    font-size: .8rem;
    font-weight: 700; 
    text-decoration: none;
    margin-right: .25rem;
    margin-left: .25rem;
    /* https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile */
    -webkit-tap-highlight-color: transparent;
  }
.linkButton:hover {
    background-color: #449fdb;
    color: white;
}
  
@media screen and (min-width: 500px) {
    .myWorkContainer {
        padding: 3rem 5rem;
    }
}
@media screen and (min-width: 600px) {
    .myWorkContainer {
        padding: 3rem 7rem;
    }
}
@media screen and (min-width: 768px) {    
    .myWorkContainer {
        padding: 3rem 2rem;
    }
    .myWorkContainer > div {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }                                    
    .myWorkContainer > div p {
        font-size: 1.2rem;
    }    
}

                        /* 'My Education' Section */
.myEducationContainer {     
    background-image: linear-gradient(#fbbb67 0%, #b4e295 100%);        
    padding-bottom: 5rem;
}
.myEducationContainer > div {
    display: grid;
    gap: 5rem;

    margin-top: 5rem;
}             
.myEducationContainer p {
    margin-top: 1.5rem;
    background-color: white;
    color: rgb(58, 58, 58);
    border-radius: 10px;
    padding: 1rem;
    line-height: 2;
    max-width: 65ch;
}
.myEducationContainer p a {
    color: #449fdb;
    text-decoration: none;
}
.myEducationContainer p a:hover {
    color: #1d435d;
}

.myEducationContainer i {
    font-weight: 600;
}
@media screen and (min-width: 768px) {
    .myEducationContainer > div {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;               

        padding: 0 1rem;
    }    
}

                    /* 'My Contact Information' Section */
.myContactInfoContainer {
    background-image: linear-gradient(#b4e295 0%, #9599E2 100%);
    padding-bottom: 5rem;
}
.myContactInfoContainer > div {
    margin-top: 5rem;
    padding: 3rem;
    background-color: rgb(180, 180, 180);
    color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 60ch;
}
h5 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.myContactInfoContainer p {
    font-size: 1.2rem;
}
.myContactInfoContainer p:first-of-type {
    margin-bottom: 1rem;
}